h2 What I have done

p
  ul
    li
      h3
        a.link(href='http://laitkor.com', target='_blank') Laitkor Infosolutions (2013 - Present)
      ul

        li
          h4 Saralanalytics
          p A me-too analytics portal with extraordinarily scalabale riak backend

        li
          h4 Bordermap/Wideareacop (development)
          p Front end for realtime surveillance through demonic cameras spewing data at hellishly fast rates

        li
          h4 Cloops.com (maintenance)
          p An all in one daily deals solution with its very own customer service solution built right in

        li
          h4 Sponsormyteam.com (development)
          p
            | A magic portal to convert recreational sports teams into 
            strong sponsored 
            | recreational sports teams
