.circular
h1 AKASH AGRAWAL
h4
  a.link(href='http://github.com/akagr', target='_blank') @akagr
  = " | " 
  a.link(href= 'mailto:akagr@outlook.com', target='_blank') akagr[dot]outlook[dot]com
  = " | " 
  a.link(href= 'http://akashagrawal.me', target='_blank') akashagrawal.me
