doctype html
html
  head
    meta(charset='utf-8')
    title Akash Agrawal

    meta(name='viewport', content='width=device-width, initial-scale=3.0, maximum-scale=3.0, user-scalable=yes')
  body
    include ./sections/header.jade
    include ./sections/about.jade
    include ./sections/exp.jade
    include ./sections/skills.jade
    include ./sections/acheivements.jade
    include ./sections/qualifications.jade
